<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath() + '/'}"/>
    <meta charset="UTF-8">
    <title>城市列表</title>

    <script type="text/javascript" >
        $(function () {
            page(1);   //一进来就先展示首页事件
        });

        //分页事件

        function page(start) {
            $.ajax({
                    url: "/admin/getAllCity",
                    // data: "start=1k&row=23",//请求参数
                    // data: {"start":start,"row":2},
                    // type: "GET",
                    // datatype: "json",
                    // success: function (page) {

                    // }}
                }
                )}
    </script>
</head>
<body>
<a href="/admin/getAllCity">显示所有城市</a>
<hr/>
<table>
    <thead>
    <tr>
        <td>城市编号</td>
        <td>城市名称</td>
        <td>城市拼音</td>
        <td>酒店数量</td>
        <td>创建时间</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="city:${cities}">
        <td th:text="${city.getId()}">城市编号</td>
        <td th:text="${city.getCityName()}">城市名称</td>
        <td th:text="${city.getCityPinyin()}">城市拼音</td>
        <td th:text="${city.getHotalNumber()}">酒店数量</td>
        <td th:text="${city.getCreateTime()}">创建时间</td>
        <td><a th:href="@{'/admin/updateNumberPage?id='+${city.getId()}}">修改酒店数量</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>