<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>城市查询</title>
</head>
<body>
    <h1>城市查询</h1>
    <form action="/admin/queryCityById" method="get">
        城市编号：<input name="id"/>
        <input type="submit" value="提交">
    </form>
<hr/>
    <form action="/admin/queryCityByName" method="get">
        城市名称：<input name="cityName"/>
        <input type="submit" value="提交">
    </form>

</body>
</html>